<div class="description">

  <h1>Welcome</h1>

  <p>
    Please fill out the form below.
  </p>

  <form action="/lead" method="post">
    Name<br/>
    <input type="text" name="name"/><br/>
    <br/>
    Company<br/>
    <input type="text" name="company"/><br/>
    <br/>
    Email<br/>
    <input type="text" name="email"/><br/>
    <br/>
    <button>Submit Info</button>
  </form>
</div>

